@media screen and (min-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(4, 2fr);
  }
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  margin: 0 25px;
}

.project-tile {
  background-color: burlywood;
  color: darkred;
  padding: 1rem;
  text-align: center;
  height: 30vh;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
